p{
	background-color: #edecec;
}
input{
	width: 9em;
}
tr{
	text-align: justify;
}
tr:nth-child(even) {
  background-color: #ededed;
}
th {
    width: 17%;
}			
div{
	border: solid 1px;
}
a{
	color: blue;
	cursor: pointer;
}
span{
	border-radius: 4px;
	text-align: center;
	width: 9em;
}
#ingresoRevisar{
	background-color: red;
	display: none;
}
#ingresoAgregado{
	background-color: #1ddd00;
	display: none;
}
#gastoRevisar{
	background-color: red;
	display: none;
}
#gastoAgregado{
	background-color: #1ddd00;
	display: none;
}
#resultadoRevisar{
	background-color: red;
	display: none;
}
.resultado{
	background-color: #1ddd00;
	display: none;
}
#estado{
	text-align: center;
}
.descripcion{
	width: 32em;
}
.ni{
	display: none;
}