/*@media (orientation: portrait){
	body>div>div>div{
		display: table-caption!important;
		text-align: center;
	}
}*/
#salir{
	display: none;
	float: right;
	width: auto;
	border: 4px solid red;
	border-radius: 5em;
	font-weight: bold;
}
#login{
	display: none;
}
#contenido{
	display: none;
}
#entrada{
	position: fixed;
	margin-right: 0.5em;
	background-color: white;
	box-shadow: 6px 6px 6px #888;
}
table{
	box-shadow: 6px 6px 6px #888;
}
h2{
	padding-top: 7em;
	text-align: center;
}
h3{
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0.5em;
}
h4{
	text-align: right;
	margin-bottom: 0;
}
#entrada>div{
	background-color: #dadada;
	margin-bottom: 0.5em;
	/*padding: 0 0.5em;*/
}
#entrada>div>div{
	display: inline-flex;
	width: 100%;
	justify-content: space-evenly;
	margin-bottom: 0.2em;
}
div>p{
	/*width: 10em;*/
	margin: 0;
}
input{
	/*width: 9em;*/
	border-radius: 0.5em 0;
}
select{
	border-radius: 0.5em 0;
}
tr{
	text-align: justify;
}
tr:nth-child(even) {
  background-color: #dadada;
}
th {
    /*width: 15%;*/
}			
a{
	color: blue;
	cursor: pointer;
}
span{
	/*border-radius: 4px;*/
	margin-top: 0.3em;
}
h4{
	margin-top: 0;
	margin-bottom: 0;
}
footer{
	margin-top: 0.5em;
	text-align: center;
	position: sticky;
	bottom: 0;
	background-color: black;
	/*height: 2em;*/
	padding-top: 1em;
}
footer>div{
	color: white;
	width: 100%;
}
#agregarInfoRevisar{
	background-color: red;
}
#agregarInfoAgregado{
	background-color: #1ddd00;
}
#gastoRevisar{
	background-color: red;
}
#gastoAgregado{
	background-color: #1ddd00;
}
#resultadoRevisar{
	background-color: red;
}
.resultado{
	background-color: #1ddd00;
}
#estado{
	text-align: center;
}
.descripcion{
	width: 32em;
}
.ocultar{
	display: none;
	border-radius: 4px;
	text-align: center;
	font-size: 1.2em;
}
button:hover{
	background-color: black !important;
}
button:empty {
	display: none;
}
.menu-results {
	overflow: hidden;
}
.menu-results:hover {
	overflow: visible;
}