<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/vue-2.5.22.js"></script>
		<style type="text/css">
			tr{
				text-align: justify;
			}
			th {
			    width: 18%;
			}			
			div{
				border: solid 1px;
			}
		</style>
		<title>Finca</title>
	</head>
	<body>
		<h1>Finca de Jhon Fernando</h1>
		<h3>Principal</h3>
		 <nav>
		  <a href="">Principal</a> |
		  <a href="html/cafe/cafe.html">Café</a> |
		  <a href="html/ganado/ganado.html">Ganado</a> |
		  <a href="html/cerdos/cerdos.html">Cerdos</a> |
		  <a href="html/revuelto/revuelto.html">Revuelto</a> |
		  <a href="html/otros/otros.html">Otros</a>
		</nav> 
		<!--<input type="button" value="buscar" onclick="buscar('Agenda/buscar.php','')">-->
		<div id="resultadosBusqueda_ingresos">
			<h3>Ingresos</h3>
			<table style="width: 100%">
				<tr><th>Producto</th><th>Cantidad</th><th>Unidad</th><th>Valor</th><th>Fecha</th><th>Tipo</th></tr>
				<tr v-for="dato in datos"><td>{{dato.nombre}}</td><td>{{dato.cantidad}}</td><td>{{dato.unidad}}</td><td>{{dato.valor}}</td><td>{{dato.fecha}}</td><td>{{dato.tipo}}</td></tr>
			</table>			
		</div>
		<div id="resultadosBusqueda_gastos" style="margin-top: 1em">
			<h3>Gastos</h3>
			<table style="width: 100%">
				<tr><th>Producto</th><th>Cantidad</th><th>Unidad</th><th>Valor</th><th>Fecha</th><th>Tipo</th></tr>
				<tr v-for="dato in datos"><td>{{dato.nombre}}</td><td>{{dato.cantidad}}</td><td>{{dato.unidad}}</td><td>{{dato.valor}}</td><td>{{dato.fecha}}</td><td>{{dato.tipo}}</td></tr>
			</table>			
		</div>		
		<script type="text/javascript">
			window.onload = function(){
				buscar('Agenda/buscar.php','');
			}			
			document.getElementById('datePicker_ingreso').valueAsDate = new Date();
			document.getElementById('datePicker_gasto').valueAsDate = new Date();
			function ingresar(DataBase,tipo){
				var datos;
				var ingresos = document.getElementsByClassName("ingreso");
				if (tipo == 'gasto') {
					ingresos = document.getElementsByClassName("gasto");
				}
				datos = {"nombre" : ingresos[0].value,"cantidad" : ingresos[1].value,"unidad" : ingresos[2].value,"valor" : ingresos[3].value,"fecha" : ingresos[4].value,"tipo" : tipo};
			    $.ajax({
			        data: datos,
			        type:'get',
			        url:DataBase,
			        dataType: "json",
			        success: function (resultado){
			        	window.location.href = '';
			        }			        
			    });				
			}
			function buscar(DataBase, busqueda){
			    $.ajax({
			        data: {"dinero" : 'ingresos',
			    			"busqueda" : busqueda},
			        type:'get',
			        url:DataBase,
			        dataType: "json",
			        success: function (resultado){
			            var v_ingreso = new Vue ({
			                el : "#resultadosBusqueda_ingresos",
			                data : {
			                    datos: resultado
			                }
			            });
			        }
			    });
			    $.ajax({
			        data: {"dinero" : 'gastos',
			    			"busqueda" : busqueda},
			        type:'get',
			        url:DataBase,
			        dataType: "json",
			        success: function (resultado){
			            var v_gasto = new Vue ({
			                el : "#resultadosBusqueda_gastos",
			                data : {
			                    datos: resultado
			                }
			            });
			        }
			    });			    
			}		
		</script>		
	</body>
</html>