<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/vue-2.5.22.js"></script>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
		<title>Finca</title>
	</head>
	<body>
		<div id="entrada">
			<h1>{{datos.nombre}}</h1>
			 <nav>
			 	<strong>Clasificación: </strong>
				<a onclick="seleccionTipo('Principal');" :title=datos.principal>Principal</a> |
				<a onclick="seleccionTipo('Café');" :title=datos.cafe>Café</a> |
				<a onclick="seleccionTipo('Ganado');" :title=datos.ganado>Ganado</a> |
				<a onclick="seleccionTipo('Cerdos');" :title=datos.cerdos>Cerdos</a> |
				<a onclick="seleccionTipo('Revuelto');" :title=datos.revuelto>Revuelto</a> |
				<a onclick="seleccionTipo('Otros');" :title=datos.otros>Otros</a>
				<h3 id="estado"></h3>					  
			</nav> 
			<p id="ingresos">
				Ingresos:<br>
				<input type="text" value="" class="ingreso nombre" placeholder="nombre" :title=datos.nombreI list="nombreI"><datalist id="nombreI"><option v-for="dato in datos.nombreIngreso">{{dato.nombre}}</option></datalist>
				<input type="text" value="" class="ingreso descripcion" placeholder="descripción" :title=datos.descripcion list="descripcionI"><datalist id="descripcionI"><option v-for="dato in datos.descripcionIngreso">{{dato.descripcion}}</option></datalist>
				<input type="text" value="" class="ingreso" placeholder="costo" :title=datos.costoGI>
				<input type="date" class="ingreso" id ="datePicker_ingreso" :title=datos.fechaI>
				<input type="button" value="agregar ingreso" onclick="ingresar('Agenda/crear.php','ingreso')" :title=datos.botonI>	
				<span id="ingresoRevisar">Revisar ingreso</span>
				<span id="ingresoAgregado">Ingreso agregado</span>															
			</p>
			<p id="gastos">
				Gastos:<br>
				<input type="text" value="" class="gasto nombre" placeholder="nombre" :title=datos.nombreG list="nombreG"><datalist id="nombreG"><option v-for="dato in datos.nombreGasto">{{dato.nombre}}</option></datalist>
				<input type="text" value="" class="gasto descripcion" placeholder="descripción" :title=datos.descripcion list="descripcionG"><datalist id="descripcionG"><option v-for="dato in datos.descripcionGasto">{{dato.descripcion}}</option></datalist>
				<input type="text" value="" class="gasto" placeholder="costo" :title=datos.costoGI>
				<input type="date" class="gasto" id ="datePicker_gasto" :title=datos.fechaG>	
				<input type="button" value="agregar gasto" onclick="ingresar('Agenda/crear.php','gasto')" :title=datos.botonG>	
				<span id="gastoRevisar">Revisar gasto</span>	
				<span id="gastoAgregado">Gasto agregado</span>											
			</p>		
			<p>		
				Busqueda: <br>
				<input type="text" value="" class="busqueda nombre" placeholder="nombre" :title=datos.nombreB list="nombres"><datalist id="nombres"><option v-for="dato in datos.nombreIG">{{dato.nombre}}</option></datalist>
				<input type="text" value="" class="busqueda descripcion" placeholder="descripción" :title=datos.descripcion list="descripciones"><datalist id="descripciones"><option v-for="dato in datos.descripcionIG">{{dato.descripcion}}</option></datalist>
				<input type="text" value="" class="busqueda" placeholder="costo" :title=datos.costoB>
				<input type="text" value="" class="busqueda" id="ano" placeholder="año" :title=datos.ano style="width: 4em">
				<input type="text" value="" class="busqueda" id="mes" placeholder="mes" :title=datos.mes style="width: 2em">
				<input type="text" value="" class="busqueda" placeholder="dia" :title=datos.dia style="width: 2em">
				<input type="text" value="" class="busqueda" id="tipo" placeholder="clasificación" :title=datos.tipo style="width: 6em;" list="tipos">
				<input type="button" value="Buscar" onclick="buscar('Agenda/buscar.php')" :title=datos.botonB>
				<span id="resultado">Listo</span>	
				<datalist id="tipos">
					<option value=""></option>
					<option value="cafe"></option>
					<option value="ganado"></option>
					<option value="cerdos"></option>
					<option value="revuelto"></option>
					<option value="otros"></option>
				</datalist> 
			</p>	
		</div>	
		<div id="resultadosBusqueda_ingresos">
			<h3>Ingresos: <strong id="ingreso" title="Total que suman los ingresos en la tabla"></strong></h3>
			<table style="width: 100%">
				<tr><th>Producto</th><th style="width: 40%">Descripción</th><th>Valor</th><th>Fecha</th><th>Clasificación</th></tr>
				<tr v-for="dato in datos"><td>{{dato.nombre}}</td><td style="width: 40%">{{dato.descripcion}}</td><td>{{dato.costo}}</td><td>{{dato.fecha}}</td><td>{{dato.tipo}}</td></tr>
			</table>			
		</div>
		<div id="resultadosBusqueda_gastos">
			<h3>Gastos: <strong id="gasto" title="Total que suman los gastos en la tabla"></strong></h3>
			<table style="width: 100%">
				<tr><th>Producto</th><th style="width: 40%">Descripción</th><th>Valor</th><th>Fecha</th><th>Clasificación</th></tr>
				<tr v-for="dato in datos"><td>{{dato.nombre}}</td><td style="width: 40%">{{dato.descripcion}}</td><td>{{dato.costo}}</td><td>{{dato.fecha}}</td><td>{{dato.tipo}}</td></tr>
			</table>			
		</div>		
		<script type="text/javascript" src="js/es.js"></script>
		<script type="text/javascript" src="js/procesar.js"></script>
	</body>
</html>